<!-- views/busStopView.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <h1>Postcode</h1>
    <ul>
        
        <li><b>
                <%= data.showCoordinates() %>
               
            </b>
        </li>
       
    </ul>
</body>

</html>