<!-- views/busStopView.ejs -->
<link rel="stylesheet" type="text/css"   href="/css/busStop.css">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <header>
        <h1>Postcode <%= data[0].showPostCode() %></h1>
    </header>
    <ul>
        <%data.forEach((stop)=> { %>
            <div class="bus-stop">
            <div class="stop-name"><img class="bus" src="/bus.png"><p><b>><%= stop.showBusStopName() %></b></p></div>
            <% if (stop.buses===0) { %>
                <p>
                    <%= `There are no buses coming to this stop` %>
                </p>
                <% }; %>
                    <% if (stop.buses!==0) { %>
                        <%stop.buses.forEach((bus)=> { %>
                            <p>
                                <%= bus.showBus() %>
                            </p>
                        <% }); %>
                    <% }; %>
                </div>
        <% }); %>
    
    </ul>
</body>

</html>