<!-- views/busStopView.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <h1>Postcode <%= data[0].showPostCode() %>
    </h1>
    <ul>
        <%data.forEach((stop)=> { %>
            <p><b><%= stop.showBusStopName() %></b></p>
            <% if (stop.buses===0) { %>
                <p>
                    <%= `There are no buses coming to this stop` %>
                </p>
                <% }; %>
                    <% if (stop.buses!==0) { %>
                        <%stop.buses.forEach((bus)=> { %>
                            <p>
                                <%= bus.showBus() %>
                            </p>
                        <% }); %>
                    <% }; %>
        <% }); %>
    </ul>
</body>

</html>