<!-- views/busStopView.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <h1>Postcode <%= data[0].showPostCode() %>
    </h1>
    <ul>
        <%data.forEach((stop)=> { %>
            <p><b>
                    <%= stop.showBusStop() %>
                </b>
                <b>
                    <%= stop.showBusStopName() %>
                </b>
            </p>
            <%stop.buses.forEach((bus)=> { %>
                <p>
                    <%= `bus N${bus.lineId} going to ${bus.destination} arrives in ${parseInt(bus.timeToStation/60)} min` %>
                </p>
                <% }); %>
                    <% }); %>
    </ul>
</body>

</html>