<!-- views/busStopView.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <h1>Postcode <%= data[0].showPostCode() %></h1>
    <ul>
        <%data.forEach((stop)=> { %>
            <li><b><%= stop.showBusStop() %></b></li>
        <% }); 
        %>
    </ul>
</body>

</html>