<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bus Stop</title>
</head>

<body id="home">
    <h1>Error</h1>
    <ul>

        <li>
            <%= `Status: ${data.status}` %>
        </li>
        <li>
            <%= `Error: ${data.error}` %>
        </li>

    </ul>
</body>

</html>