body {
    /* background-color: grey; */
    color: orange;
}

.bus-stop {
    padding: 10px;
    margin: 20px;
}

.stop-name {
    display: flex;
    color: black;
    justify-content: space-between;
}

.bus {
    height: 40px;
}
header {
    text-align: center;

}

h1 {
    color: black;
}