body {
    /* background-color: grey; */
    color: orange;
}

.bus-stop {
    padding: 10px;
    margin: 20px;
}

.stop {
    display: flex;
    color: black;
    background: green;
}

.bus-info {
    display: flex;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.line-id {
    width: 8%;
    padding: 0 12px;
}

.destination {
    width: 40%;
}


.time {
    background: black;
    
}

.bus {
    height: 50px;
}

.stop-name {
    font-size: 30px;
    margin: 0 20px;
}
header {
    text-align: center;

}

h1 {
    color: black;
}